.summary-container{
    background-color: black;
    color: white;
    margin: 0 auto;
    height: 150px;
    border-radius: 10px;
    width: 50%;
    justify-content: center;
    text-align: center;
}

.summary-container h1,
.summary-container p {
  margin-top: 0; 
}
